{{>headerlinks}}
{{>header}}
<!--Band members section-->
<section id="band" class="band main brd-bottom">
    <!--Container-->
    <div class="container">
        <!--Row-->
        <div class="row justify-content-center">
            <div class="col-12 col-md-10 col-lg-9">
                <div class="block-content text-center gap-one-bottom-md">
                    <div class="block-title ">
                        <div class="block-bars">
                            <img src="images/sound-bars.png" alt="">
                        </div>
                        <h6 class="uppercase mb-1">the band members </h6>
                        <h1 class="uppercase mb-0">Band members</h1>
                    </div>
                </div>
            </div>
        </div>
        <!--End row-->
    </div>
    <!--End container-->
    <!--Container-->
    <div class="container">
        <!--Row-->
        <div class="row">
            <div class="col-md-6 col-lg-6">
                <div class="block-member text-center">
                    <img class="mb-4" src="images/sanam.webp" alt="">
                    <div class="member-info">
                        <h1 class="uppercase mb-0 ">Sanam Puri</h1>
                        <p class="text-small mb-0 mt-0"> Sanam Puri is the lead vocalist of the band SANAM. </p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-6">
                <div class="block-member text-center">
                    <img class="mb-4" src="images/keshav.webp" alt="">
                    <div class="member-info">
                        <h1 class="uppercase mb-0 ">Keshav Dhanraj</h1>
                        <p class="text-small mb-0 mt-0"> Keshav Dhanraj is the drummer of the band SANAM</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-6">
                <div class="block-member text-center">
                    <img class="mb-4" src="images/samar.webp" alt="">
                    <div class="member-info">
                        <h1 class="uppercase mb-0 ">Samar Puri</h1>
                        <p class="text-small mb-0 mt-0">Samar Puri is the lead guitarist of the band SANAM</p>
                    </div>
                </div>
            </div>
              <div class="col-md-6 col-lg-6">
                <div class="block-member text-center">
                    <img class="mb-4" src="images/Venky.webp" alt="">
                    <div class="member-info">
                        <h1 class="uppercase mb-0 ">Venky S</h1>
                        <p class="text-small mb-0 mt-0"> Venky S is the bass guitarist of the band SANAM. 
</p>
                    </div>
                </div>
            </div>
        </div>
        <!--End row-->
    </div>
    <!--End container-->
</section>
<!--End band members section-->
{{>footer}}
