{{>headerlinks}}
{{>header}}

<!--Page not Found-->
<section id="about" class="about main brd-bottom">

  <h1 class="text-center">Sorry !! You dont have access to this page.<br> Please login with correct credentails</h1>
<!--Page not Found ends-->
 </section>
{{>footer}}