{{>headerlinks}}
{{>header}}

<!--Gallery section-->
<section id="gallery" class="gallery main brd-bottom">
    <!--Container-->
    <div class="container">
        <!--Row-->
        <div class="row justify-content-center">
            <div class="col-12 col-md-10 col-lg-9 ">
                <div class="block-content text-center gap-one-bottom-md">
                    <div class="block-title ">
                        <div class="block-bars">
                            <img src="images/sound-bars.png" alt="">
                        </div>
                        <h6 class="uppercase mb-1">Get Ready To Party </h6>
                        <h1 class="uppercase mb-0">Tours Memories </h1>
                    </div>
                </div>
            </div>
        </div>
        <!--End row-->
    </div>
    <!--End container-->
    <!--Container-->
   
    <!--End container-->
    <div class="container">
        <!--Row-->
        <div class="row justify-content-center text-center">
            <div class="col-12 ">
                <div class="card-gallery image-gallery">
                    <div class=" block-card image">
                        <a href="images/img1.webp" class="popup-image mb-0 hover-effect ">
                            <img class="mb-0" alt="" src="images/img1.webp">
                        </a>
                    </div>
                    <div class=" block-card image">
                        <a href="images/img2.webp" class="popup-image mb-0 hover-effect ">
                            <img class="mb-0" alt="" src="images/img2.webp">
                        </a>
                    </div>
                    <div class=" block-card image">
                        <a href="images/img3.webp" class="popup-image mb-0 hover-effect ">
                            <img class="mb-0" alt="" src="images/img3.webp">
                        </a>
                    </div>
                    <div class=" block-card image">
                        <a href="images/img4.webp" class="popup-image mb-0 hover-effect ">
                            <img class="mb-0" alt="" src="images/img4.webp">
                        </a>
                    </div>
                    <div class=" block-card image">
                        <a href="images/img5.webp" class="popup-image mb-0 hover-effect ">
                            <img class="mb-0" alt="" src="images/img5.webp">
                        </a>
                    </div>
                    <div class=" block-card  image">
                        <a href="images/img6.webp" class="popup-image mb-0 hover-effect">
                            <img class="mb-0" alt="" src="images/img6.webp">
                        </a>
                    </div>
                    <div class=" block-card  image">
                        <a href="images/img7.webp" class="popup-image mb-0 hover-effect">
                            <img class="mb-0" alt="" src="images/img7.webp">
                        </a>
                    </div>
                    <div class=" block-card  image">
                        <a href="images/img8.webp" class="popup-image mb-0 hover-effect">
                            <img class="mb-0" alt="" src="images/img8.webp">
                        </a>
                    </div>
                    <div class=" block-card  image">
                        <a href="images/img9.webp" class="popup-image mb-0 hover-effect">
                            <img class="mb-0" alt="" src="images/img9.webp">
                        </a>
                    </div>
                    <div class=" block-card  image">
                        <a href="images/img10.webp" class="popup-image mb-0 hover-effect">
                            <img class="mb-0" alt="" src="images/img10.webp">
                        </a>
                    </div>
                      <div class=" block-card  image">
                        <a href="images/img11.webp" class="popup-image mb-0 hover-effect">
                            <img class="mb-0" alt="" src="images/img11.webp">
                        </a>
                    </div>

                </div>
            </div>
        </div>
        <!--End row-->
    </div>
</section>
<!--End gallery section-->
{{>footer}}