{{>headerlinks}}
<!--Hero section-->
<section class="hero ">

  <!--Header-->
  {{>header}}
  <style>
  .wrapper{
    background-color: #fff;
  }
</style>
  <!--End header-->
</section>
<!--End hero section-->

<!--registration starts-->
<div class="LoginPageContainer container body-margin">
    <div class="LoginPageInnerContainer row">
        <div class="ImageContianer col-md-4 ">
            <img src="https://i.imgur.com/MYZd7of.png" class="GroupImage">
        </div>
        <div class="LoginFormContainer col-md-4">
            <div class="LoginFormInnerContainer">
              
               <h2>Logout page</h2>
            </div>
        </div>
    </div>
</div>
<!--registration Ends-->

{{>footer}}