{{>headerlinks}}
{{>header}}

<!--Gallery section-->
<section id="gallery" class="gallery main brd-bottom">
    <!--Container-->
    <div class="container">
        <!--Row-->
        <div class="row justify-content-center">
            <div class="col-12 col-md-10 col-lg-9 ">
                <div class="block-content text-center gap-one-bottom-md">
                    <div class="block-title ">
                        <div class="block-bars">
                            <img src="images/sound-bars.png" alt="">
                        </div>
                        <h6 class="uppercase mb-1">This is a Premium page only login user can access this page content</h6>
                        <h1 class="uppercase mb-0"></h1>
                    </div>
                </div>
            </div>
        </div>
        <!--End row-->
    </div>
    <!--End container-->
    <div class="container">
        <div class="o-video">
<iframe width="560" height="315" src="https://www.youtube.com/embed/L8iLYMdAjAQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe></div>
    </div>
    <!--Container-->
   
   
</section>
<!--End gallery section-->
{{>footer}}