

 <!--About section-->
        <section id="about" class="about main brd-bottom pb-0 mb-0" >
            <img class="pattern-center" src="images/right-pattern.png" alt="">
            <!--Container-->
            <div class="container ">
                <!--Row-->
                <div class="row vertical-align">
                     <div class="col-md-12 offset-md-1   ">
                <h1 class="uppercase mb-4 text-center ">About SANAM</h1>

                        <div class="block-content">
                            <ul class="block-images row">
                                <li class="col-md-12 col-sm-12"><img src="images/about.webp" alt=""> </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-12    ">
                        <div class="block-content text-center">
                            {{!-- <h1 class="uppercase mb-0">Kind of Music</h1> --}}
                            <p class="mt-5 lead w-95">{{about}}</p>
                        </div>
                    </div>
                   
                </div>
                <!--End row-->
            </div>
            <!--End container-->
            <div class="gap-one-bottom-md"></div>
          
       
        </section>
        <!--End about section-->