       <!--Contact section-->
<section id="contact" class="contact main top" style="background: #262626;">
    <!--Container-->
    <div class="container">
        <!--Row-->
        <div class="row justify-content-center">
            <div class="col-12 col-md-10 col-lg-9 ">
                <div class="block-content text-center gap-one-bottom-md">
                    <div class="block-title ">
                        <div class="block-bars">
                            <img src="images/sound-bars.png" alt="">
                        </div>
                        <h6 class="uppercase mb-1">contact with us</h6>
                        <h1 class="uppercase mb-0">stay in touch</h1>
                    </div>
                </div>
            </div>
        </div>
        <!--End row-->
    </div>
    <!--End container-->
    <!--Container-->
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-10">
                <ul class="feature-list feature-list-sm text-center row gap-one-bottom-sm">
                    <li class="col-sm-4  col-lg-4">
                        <div class="card block-info text-center">
                            <div class="card-body">
                                <h2 class="uppercase h2 text-light">Booking</h2>
                                <p class="mb-0"><em class=" h5 mb-1 uppercase swap-color text-light">Mumbai</em>
                                    <br> +91-9819777707
                                    <br>  wearesanam@gmail.com 
                                </p>
                            </div>
                        </div>
                    </li>
                    <li class="col-sm-4  col-lg-4">
                        <div class="card block-info text-center">
                            <div class="card-body">
                                <h2 class="uppercase h2 text-light">Press</h2>
                                <p class="mb-0"><em class=" h5 mb-1 uppercase swap-color text-light">Mumbai</em>
                                    <br> +91-9699969940
                                    <br> knctalent@gmail.com or
                                </p>
                            </div>
                        </div>
                    </li>
                    <li class="col-sm-4  col-lg-4">
                        <div class="card block-info text-center">
                            <div class="card-body">
                                <h2 class="uppercase h2 text-light">info</h2>
                                <p class=" mb-0"><em class="h5 mb-1 uppercase swap-color text-light">Mumbai</em>
                                    <br> +91-9819777707
                                    <br>Lal Bahadur Shastri Marg

                                </p>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-12">
                <ul class="block-social colored list-inline text-center mb-5">
                    <li class="list-inline-item">
                        <a href="https://www.facebook.com/sanamofficialmusic/" target="_blank" class="hover-effect"> <i
                                class="socicon-facebook"></i> </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="https://www.instagram.com/sanamband/" target="_blank" class="hover-effect"><i
                                class="socicon-instagram"></i> </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="https://www.twitter.com/Sanam_Official" target="_blank" class="hover-effect"><i
                                class="socicon-twitter"></i> </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="https://www.youtube.com/sanam" target="_blank" class="hover-effect"><i
                                class="socicon-youtube"></i> </a>
                    </li>

                </ul>
            </div>
        </div>
    </div>
    <!--End container-->
</section>